

  input {
    border: none;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin: 0rem 0rem 0rem 0rem;
  }
  .tox-tinymce{
    height: 400px !important;
    width: 600px;
    margin-top: 5px;
  }
  label{
    color: black !important;
  }
  .btn-update-post{

    background-color: green !important;
    margin-top: -15px !important;
    margin-left: 200px !important;
    letter-spacing: 1px !important;

  }
  .btn-add-post{
    background-color: #006ce7 !important;
    margin-top: -15px !important;
    margin-left: 200px !important;
    letter-spacing: 1px !important;
  }
  .radio-post{
    margin-top: -18px;
  margin-bottom: -37px;
  }
  