

.container{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 1350px;
  row-gap: 10px;
  padding: 10px 20px;
}

.content{
  background-color:rgb(210, 217, 229);
  margin-left: 10px;
  padding-bottom: 130px;
  height: 200px;
  width: 400px;
  overflow: hidden;
}
.btn-detatil{
  background-color: red !important;
}